* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v602_38 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_41 {
  width: 767px;
  height: 455px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 720px;
}
.v602_57 {
  width: 652px;
  height: 370px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 75px;
}
.v602_40 {
  width: 897px;
  height: 559px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 271px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0.7124999761581421, 0.7124999761581421, 0.7124999761581421, 0.25);
  overflow: hidden;
}
.v602_42 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 167px;
  left: 53px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v602_43 {
  width: 718px;
  height: 57px;
  background: url("../images/v602_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 337px;
  overflow: hidden;
}
.v602_44 {
  width: 718px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_45 {
  width: 575px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 10px;
  left: 44px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v602_46 {
  width: 718px;
  height: 58px;
  background: url("../images/v602_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 337px;
  overflow: hidden;
}
.v602_47 {
  width: 718px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_48 {
  width: 228px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 9px;
  left: 26px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v602_49 {
  width: 718px;
  height: 58px;
  background: url("../images/v602_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 337px;
  overflow: hidden;
}
.v602_50 {
  width: 718px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_51 {
  width: 228px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 10px;
  left: 26px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v602_52 {
  width: 718px;
  height: 58px;
  background: url("../images/v602_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 616px;
  left: 337px;
  overflow: hidden;
}
.v602_53 {
  width: 718px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_54 {
  width: 228px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 10px;
  left: 26px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v602_55 {
  width: 208px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1152px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v602_56 {
  width: 163px;
  color: rgba(32,94,255,1);
  position: absolute;
  top: 60px;
  left: 1174px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_218 {
  width: 336px;
  height: 65px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 552px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0.003921568859368563, 0.49803921580314636, 0.9019607901573181, 0.3499999940395355);
  overflow: hidden;
}
.v602_219 {
  width: 245px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 748px;
  left: 597px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
