* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v602_287 {
  width: 100%;
  height: 1198px;
  background: url("../images/v602_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_255 {
  width: 100%;
  height: 1198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_256 {
  width: 911px;
  height: 455px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 576px;
}
.v602_257 {
  width: 100%;
  height: 690px;
  background: url("../images/v602_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 80px;
  overflow: hidden;
}
.v602_258 {
  width: 100%;
  height: 690px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0.7124999761581421, 0.7124999761581421, 0.7124999761581421, 0.25);
  overflow: hidden;
}
.v602_259 {
  width: 277px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1083px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v602_260 {
  width: 206px;
  color: rgba(32,94,255,1);
  position: absolute;
  top: 60px;
  left: 1119px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_261 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 159px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_262 {
  width: 72px;
  height: 72px;
  background: url("../images/v602_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 74px;
  overflow: hidden;
}
.v602_263 {
  width: 388px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v602_267 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 159px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_268 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 576px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_269 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 218px;
  left: 1035px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_270 {
  width: 445px;
  height: 171px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 838px;
  left: 915px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v602_271 {
  width: 475px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 854px;
  left: 900px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_272 {
  width: 277px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 924px;
  left: 999px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v602_273 {
  width: 206px;
  color: rgba(32,94,255,1);
  position: absolute;
  top: 943px;
  left: 1035px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v602_274 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 117px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_275 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 528px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_276 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 939px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_277 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 361px;
  left: 117px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_278 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 361px;
  left: 528px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_279 {
  width: 284px;
  color: rgba(68,179,29,1);
  position: absolute;
  top: 361px;
  left: 939px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v602_281 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 444px;
  left: 117px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_282 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 444px;
  left: 528px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v602_283 {
  width: 284px;
  color: rgba(225,36,36,1);
  position: absolute;
  top: 444px;
  left: 939px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v602_284 {
  width: 25px;
  height: 25px;
  background: url("../images/v602_284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 1194px;
  overflow: hidden;
}
.v602_285 {
  width: 25px;
  height: 25px;
  background: url("../images/v602_285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 1194px;
  overflow: hidden;
}
.v602_286 {
  width: 25px;
  height: 25px;
  background: url("../images/v602_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 1194px;
  overflow: hidden;
}
.v602_288 {
  width: 100%;
  height: 100%;
  background: rgba(36,36,36,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v602_289 {
  width: 897px;
  height: 559px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 271px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 25px rgba(0.7124999761581421, 0.7124999761581421, 0.7124999761581421, 0.25);
  overflow: hidden;
}
.v602_290 {
  width: 718px;
  height: 57px;
  background: url("../images/v602_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 337px;
  overflow: hidden;
}
.v602_291 {
  width: 718px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_292 {
  width: 575px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 10px;
  left: 44px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v602_293 {
  width: 718px;
  height: 282px;
  background: url("../images/v602_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 423px;
  left: 337px;
  overflow: hidden;
}
.v602_294 {
  width: 718px;
  height: 282px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_302 {
  width: 336px;
  height: 65px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 552px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 30px rgba(0.003921568859368563, 0.49803921580314636, 0.9019607901573181, 0.3499999940395355);
  overflow: hidden;
}
.v602_303 {
  width: 245px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 746px;
  left: 597px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v602_1844 {
  width: 403px;
  height: 120px;
  background: rgba(1,127,230,1);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 352px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v602_1845 {
  width: 575px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 561px;
  left: 374px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v602_1846 {
  width: 53px;
  height: 55px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 483px;
  left: 379px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v602_1847 {
  width: 53px;
  height: 55px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 483px;
  left: 442px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v602_1848 {
  width: 53px;
  height: 55px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 483px;
  left: 536px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v602_1849 {
  width: 53px;
  height: 55px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 483px;
  left: 599px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v602_1850 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 483px;
  left: 504px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v602_1851 {
  width: 30px;
  height: 30px;
  background: url("../images/v602_1851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 1099px;
  overflow: hidden;
}
.v602_1852 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 400px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_1853 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 463px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_1854 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 557px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_1855 {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 620px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v602_1842 {
  width: 575px;
  color: rgba(149,149,149,1);
  position: absolute;
  top: 439px;
  left: 378px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
